/*========= All form Elements Style =========*/
.input-group-prepend {
  @include border(1px solid, $input-border-color, top bottom left);
  border-top-left-radius: $border-radius;
  border-bottom-left-radius: $border-radius;
  button {
    color: inherit;
  }
}

.height-image-colapse-div-col{
  height: 351px;
  line-height: 351px;
}
.image-colapse-max-width-height{
  max-width: 100%;
  max-height: 100%;
}

.float-right-confirmar-todos{
  float: right;
}

.tagsAudiovisuales-select{
  border: 1px solid #ddd;
  background: #eee;
  font-size: 12px;
  display: inline-block;
  padding: 5px;
  margin: 0 5px;
  border-radius: 2px;
}

.tags-collapse-border{
  border: 1px solid #fff;
  font-size: 12px;
  display: inline-block;
  padding: 5px;
  margin: 0 5px;
  border-radius: 2px;
}

/* Styles for the input */
div.ReactTags__tagInput {
  width: 200px;
  border-radius: 2px;
  display: inline-block;
}
div.ReactTags__tagInput input.ReactTags__tagInputField,
div.ReactTags__tagInput input.ReactTags__tagInputField:focus {
  height: 31px;
  margin: 0;
  font-size: 12px;
  width: 100%;
  border: 1px solid #eee;
  padding: 0 4px;
}

/* Styles for selected tags */
div.ReactTags__selected span.ReactTags__tag {
  border: 1px solid #ddd;
  background: #eee;
  font-size: 12px;
  display: inline-block;
  padding: 5px;
  margin: 0 5px;
  border-radius: 2px;
  margin-top: 5px;
}
div.ReactTags__selected a.ReactTags__remove {
  color: #aaa;
  margin-left: 5px;
  cursor: pointer;
}

/* Styles for suggestions */
div.ReactTags__suggestions {
  position: absolute;
}
div.ReactTags__suggestions ul {
  list-style-type: none;
  box-shadow: .05em .01em .5em rgba(0,0,0,.2);
  background: white;
  width: 200px;
}
div.ReactTags__suggestions li {
  border-bottom: 1px solid #ddd;
  padding: 5px 10px;
  margin: 0;
}
div.ReactTags__suggestions li mark {
  text-decoration: underline;
  background: none;
  font-weight: 600;
}
div.ReactTags__suggestions ul li.ReactTags__activeSuggestion {
  background: #b7cfe0;
  cursor: pointer;
}

.configuracion-titulo-card{
  height: 45px !important;
  padding-top: 8px !important;
  text-align: left !important;

}

.configuracion-padding-file{
  padding-top: 8px !important;
}
.input-lg {
  height: $input-lg-height;
  padding: 0.375rem 0.7rem; // 6px 30px;
}
.input-lg-icon {
  height: $input-lg-height;
  padding: 0.375rem 2.7rem; // 6px 30px;
}
.app-selectbox {
  border: 1px solid $block-border;
  width: 100%;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  height: $input-lg-height;
  box-shadow: $block-shadow;
  &:before {
    content: "";
    position: absolute;
    pointer-events: none;
    top: 50%;
    margin-top: $caret-width * -0.3;
    right: 10px;
    width: 0;
    height: 0;
    border: $caret-width solid transparent;
    border-top-color: $gray-900;
  }
  select {
    padding: 0.3125rem 0.5rem; //5px 8px;
    border: none;
    box-shadow: none;
    background-color: $block-bg;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-transform: capitalize;
    height: $input-lg-height !important;
    &:focus {
      outline: none;
    }
  }
}
.app-selectbox-sm {
  @extend .app-selectbox;
  height: $input-height;
  select {
    height: $input-height !important;
  }
}


.claves-invalidas{
  color: $red !important;
}